body
{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.logo
{
    position: absolute;
    background: black;
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
    border-bottom: 2px cyan solid;
}
.Datos h3
{
    text-align: center;
}
.características h3
{
    text-align: center;
}
.Pro
{
    background: #cececc;
    display: none;
    color: #000;
    position: absolute;
    padding: 2%;
    top: 14%;
    left: 8%;
    width: 80%;
    height: auto;
    border-radius: 10px;
}
.Pro a img
{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 10%;
}
.Pro h2
{
    color: rgb(121, 98, 173);
    text-align: center;
}
#boton
{
    color: rgb(121, 98, 173);
    text-align: center;
    padding: 1%;
    border-radius: 8px;
    background: #ffffff;
    text-decoration: none;
}