Body
{
   background: gray;
}
#Jugar
{
   position: absolute;
   left: 0;
   top: 60%;
}
#Facebook
{
   position: absolute;
   left: 94%;
   top: 4%;
}
#PayPal
{
   position: absolute;
   left: 94%;
   top: 20%;
}
#WhatsApp
{
   position: absolute;
   left: 94%;
   top: 36%;
}
#Facebook3
{
   display: none;
   text-decoration: none;
   text-align: center;
   position: absolute;
   background: rgb(255, 255, 255);
   width: 20%;
   height: 44%;
   left: 40%;
   top: 30%;
   padding: 2px;
   border-radius: 8px;

}
#Facebook3 a
{
   text-decoration: none;
   color: rgb(75, 216, 197);
}
.cerrar
{
   position: fixed;
   left: 0;
   top: 0;
}
#intro{
   position: absolute;
   display: block;
   z-index: 999;
   overflow: hidden;
   top: 0;
   left: 0;
   width: 100%;
   transition: 2s;
}

.política
{
    background: #fff;
    display: none;
    color: #000;
    position: absolute;
    padding: 2%;
    top: 14%;
    left: 8%;
    width: 80%;
    height: auto;
    border-radius: 10px;
}
.política a img
{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 10%;
}
.política h3
{
    color: #999;
    text-align: center;
}
