body
{
   background: url("Fondo2.gif");
}
#modos a img
{
   border-radius: 8px;
   float: left;
   width: 18%;
   margin-left: 6px;
   margin-bottom: 6px;
}
#atras
{
   position: relative;
   float: left;
   left: 2%;
   top: 2%;
}